<!DOCTYPE html>
<!DOCTYPE html><html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-
scale=1.0">
<title>Music</title>
<!-- Link to styling  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="style.css"/>
<!-- HTML content -->
</head>
<div class = topnav>
    <a class = active href="Homepage.html">< Back</a>
</div>
<body data-spy = 'scroll' data-target=".navbar" data-offset="50">
<div class = artist-list-container>
    <div class= artist-card>
        <div class = image-box>
            <a href= "albums.html">
                <img src="slowdive.jpg" class="artist-image">
            </a>
        </div>
    <h1>artist_name</h1>      
    </div>


</div>