<!DOCTYPE html>
<!DOCTYPE html><html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-
scale=1.0">
<title>Music</title>
<!-- Link to styling  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="style.css"/>
<!-- HTML content -->

<label for="file-selector">Upload Song</label>
<input type = 'file' id = 'song-selector' accept=".mp3,.mp4,aac,.wav">

<label for="album-selector">Upload Album</label>
<input type = 'file' id = 'album-selector' accept =".mp3,.mp4,aac,.wav">

<a href="add_song`z"></a>
<div class = "container">
    <div class = 'mainpage text-center mt-4'>
        <form>
            <label for="Email">Email</label>
            <input type="text" id = 'email' name = 'email'>
        </form>
        <form>  
            <label for="Password">Password</label>
            <input type="text" id = 'password' name = 'password'>
        </form>