<!DOCTYPE html>
<!DOCTYPE html><html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-
scale=1.0">
<title>Music</title>
<!-- Link to styling  -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/
bootstrap/4.5.2/css/bootstrap.min.css"/>
<link rel="stylesheet" href="style.css"/>
<!-- HTML content -->

</head>

<body data-spy = 'scroll' data-target=".navbar" data-offset="50">
<div class = topnav>
    <a class = active href="Homepage.html">< Back</a>
</div>
<div class = song-list-container>
    <div class= song-card>
        <div class = image-box>
            <a href= "open songs">
                <img src="whats the story.jpg" class="song-image">
            </a>
        </div>
        <div class =song-info>
            <h1>song_name</h1>
            <h2>artist_name + song-length</h2>            
        </div>

    </div>


</div>

    <nav class="bottom-nav">
        <ul>
           <li>
                <a href="Homepage.html">
                    <span>Home</span>
                </a>
            </li>
            <li>
                <a href="Playlists.html" class="active">
                    <span>Playlists</span>
                </a>
            </li>
            <li>
                <a href="Search.html">
                    <span>Search</span>
                </a>
            </li>
            <li>
                <a href="Settings.html">
                    <span>Settings</span>
                </a>
            </li>
        </ul>
    </nav>
</body>